<a href="/users/:user_id/logout" data-method="delete" >Logout</a><br>

<h2>Hi! <%=current_user.first_name%> <%=current_user.last_name%>!</h2>
<h3>All the songs in our hub:</h3>

<table>
   <tr>
     <td>Artist</td>
     <td>Title</td>
     <td>No of Times Song Has Been Added</td>
     <td>Add to Playlist</td>
  </tr> 
  <% @songs.each do |song| %>
  <tr>
     <td><%=song.artist%></td> 
     <td><a href="/songs/<%=song.id%>/song_info"><%=song.title%></td>
     <td><%=song.users_added.count %></td>
     <td><form action = "/songs/<%=song.id%>/add" method="post">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="submit" value="Add">
 </form></td>  
<%end%>
</table>

<% if flash[:errors]  %>
<%= flash[:errors]%>
<% end %>

<form action="/users/<%= current_user.id %>/newsong" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Title</p><input type="text" name="song[title]">
    <p>Artist</p><input type="text" name="song[artist]">
    <input type="submit" value="Add Song">
</form> 

<a href="/users/<%=current_user.id %>/playlist">Your Playlist</a>

